# Lokal testte kullanılır. Render'da bunları Environment Variables olarak gir.
FIREBASE_KEY_PATH=firebase_key.json
GOOGLE_DRIVE_KEY_PATH=drive_service_account.json
DRIVE_ROOT_FOLDER_NAME=ConnectDesk_Dosyalar
# İstersen hazır bir Drive klasörünün ID'sini ver. En sağlam yöntem budur.
DRIVE_ROOT_FOLDER_ID=
# true yaparsan dosyalara linkle erişim izni verir. Demo için kolaydır, gerçek projede dikkatli kullan.
MAKE_FILES_PUBLIC=false
